{% extends 'base.html.twig' %}

{% block TitreContenu %}
<h1>Détail du stage</h1>
{% endblock %}

{% block contenu %}
    {# affichage de la description détaillé du stage #}
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><u>Nom de l'entreprise:</u> {{stage.getEntreprise().getNom()}}</li>
        <li class="list-group-item"><u>Nom du stage:</u> {{stage.getTitre()}}</li>
        <li class="list-group-item"><u>Activité:</u> {{stage.getDescriptionMission()}} </li>
        <li class="list-group-item"><u>Description du stage:</u> {{stage.getDescriptionMission()}}</li>
        <li class="list-group-item"><u>Adresse de l'entreprise:</u> {{stage.getEntreprise().getAdresse()}}</li>
        <li class="list-group-item"><u>Email du contact:</u> {{stage.getEmailContact()}}</li>
        <li class="list-group-item"><p><u>Liste des formations associées:</u> </p>
        <ul>
        {% for formation in stage.formations %}
                <li>{{formation.getNomLong()}}</li> 
        {% endfor %}
        </ul>
    </ul>
{% endblock %}
